<div class ="contact container">
  <h3>Contact Us</h3>
  <form id="contactForm" action="contact" method="POST">
    <label for="name">Name<span> *</span></label><br>
    <input type="text" name="name" id="name" value="" required /><br>

    <label for="email">Email<span> *</span></label><br>
    <input type="email" name="mail" id="email" value="" required /><br>
  
    <label for="textarea">Message<span> *</span></label><br>
    <textarea required id="textarea" name="message" required></textarea>
    <button class ="send-btn" id="sendBtn" >Send</button>
    <p style="color:rgb(153, 26, 26)"><i>* is a Required field</i></p>
  </form>       
</div>