<footer>
    <h1>
        <a href="">
          <img src="/img/progate logo.svg" alt="logo">
        </a>
      </h1>
      <ul>
        <li>About</li>
         <li>Jobs</li>
          <li>Contact Us</li>
      </ul>
</footer>
<script type="text/javascript" src="script.js"></script>