<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate | <%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/3f430fba04.js"></script>

  </head>