<div class ="lesson container">
<h3>Lessons</h3>
<div class="flex">
    <div class="right-margin border">
      <img src ="https://progate.com/progate/shared/images/lesson/html/study/html.svg">
      <p>HTML & CSS</p>
    </div>
    <div class="right-margin border">
      <img src ="https://progate.com/progate/shared/images/lesson/html/study/php.svg">
      <p>PHP</p>
    </div>
    <div class="right-margin border">
      <img src ="https://progate.com/progate/shared/images/lesson/html/study/ruby.svg">
      <p>Ruby</p>
    </div>
    <div class="border">
      <img src ="https://progate.com/progate/shared/images/lesson/html/study/swift.svg">
      <p>Swift</p>
    </div>
    
</div>
</div>