
<div class ="nav flex">
  <h1>
    <a href="/">
      <img src="img/progate logo.svg" alt="logo">
    </a>
  </h1>
  <div class="nav_left">
    <ul>
      <li><a href="/about">About</a></li>
       <li><a href="/lessons">Lessons</a></li>
       <li><a href="/contact">Contact Us</a></li>
     </ul>

  </div>

  <% if(session){%>
    <div class="nav_right user_info">
      <ul color="red">
        <li><a href=""></a><i class="fa fa-user"></i><br><%=`${session.name}`%></a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>
  <%}else{%>
  <div class="nav_right">
    <ul color="red">
      <li><a href="/login">Login</a></li>
      <li><a href="">Register</a></li>
    </ul>
  </div>
  <%}%>
  
</div>



