<%- include('components/header')%>
    <style>
        .about{
          padding-bottom:200px;
        }
        p{
            text-align: center;
        }

    </style>
 
  <body>
    <%- include('components/navbar')%>
    <section class="about ">
      <div class=" container about_head">
      <h1>Empowering everyone
        to open new doors
        through programming.</h1>
      </div>
    </section>
    <section class=" container service">
      <div class="service_left">
        <img src="/img/service_img.svg">
      </div>
      <div class="service_right">
        <h2>Our Service</h2>
        <div class="break_line"></div>
        <h3>2,500,000 users <br>active in 100+ countries</h3>
        <p>Progate is an easy-to-use platform <br>designed to help you learn coding online</p>
      </div> 

    </section>

    <%- include('components/footer')%>
  </body>
</html>
