<%- include('components/header')%>
    <style>
        input, textarea,button{
            border:2px solid #2f5167;
        }
        .contact{margin-top:30px;}
    </style>
  </head>
  <body>
    <%- include('components/navbar')%>
    <section class="contact_banner">
      <div class="contact_subanner">
        <div class="contact_head">
            <h1>Want to talk to us?</h1>
          </div>
        </div>
    </section>
    <%- include('components/contactComponent')%>
    <%- include('components/footer')%>
  </body>
</html>