<%- include('components/header')%>
<style>
  .heading{
    padding-top:40px;
  }
  footer{
    margin-top: 80px;
  }
</style>
  <body>
    <%- include('components/navbar')%>
    <!-- Write your code below -->
    <section class="lesson_banner">
      <div class="lesson_subanner">
        <div class="lesson_head">
          <h1>Check Out our Rich Courses and Lessons</h1>
          </div>
  
        </div>
  
      </div>
    </section>
     
    <%- include('components/lessonsComponent')%>

    <%- include('components/footer')%>
  </body>
</html>